body{
    background-color: #201b2c;
    color: white;
}

body * {
    font-family : Arial, Helvetica, sans-serif;
}

table{
    width: 100%;
    text-align: left;
    margin: 20px 0px;
    border-bottom: 10px;
}

.btn-login{
    width: 100%;
    padding: 16px 120px;
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b314b;
    background: #407fd1;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #214472;
}

form{
    margin: 0px 5px;
}

.form-div{
    width: 100%;
    display: flex;
}

th{
    font-weight: 900;
    color: #407fd1;
    padding: 20px 0px;
}

td{
    padding: 7px 0px;
}
.div-input{
    text-align: right;
}

input{
    width: 12%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.btn-voltar{
    width: 10%;
    padding: 15px 0px;
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b314b;
    background: #407fd1;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #214472;
}

.fa-solid.fa-trash{
    padding: 5px 15px;
    color: red;
}

.fa-solid.fa-edit{
    color: #407fd1;
}