body{
    margin: 0;
    background: #201b2c;
}
body * {
    box-sizing: border-box;
    font-family : Arial, Helvetica, sans-serif;
}   

.textfield-row > input{
    width: 20%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > input{
    width: 20%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > select{
    width: 20%;
    margin: 0px 5px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 10px;
}
input{
    margin: 0px 5px;
}
.textfield-row{
    display: flex;
    margin: 10px 10px;
}

.a{
    width: 100%;
}

.btn-login{
    width: 20%;
    padding: 16px 120px;
    margin: 25px 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b314b;
    background: #407fd1;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #214472;
}

.div-btn-voltar{
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 10px;
}

.btn-voltar{
    width: 20%;
    padding: 16px 150px;
    margin: 0px 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b314b;
    background: #407fd1;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #214472;
    text-align: center;
}

.form{
    width: 15%;
}

a{
    margin: 0px 20px;
}