<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_cliente.css' %}">
    <title>🛠AUTO LOURENÇO🛠</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <div class="btn-voltar">
                <form action="{% url 'url_clientes' %}">
                    <button class="btn-login">Voltar</button>
                </form>
            </div>
            <img src="{% static 'add_client.svg' %}" class= "left-login-image" alt="Animated login image">
        </div>
        <div class="right-login">
            <div class="card-login">
                <form method="POST">
                    {% csrf_token %}
                <div class="textfield">
                    <input type="text" name="nome" placeholder="Nome" , value="{{edit.nome}}">
                </div>
                <div class="textfield">
                    <input type="text" name="apelido" placeholder="Apelido", value="{{edit.apelido}}">
                </div>
                <div class="textfield">
                    <input type="text" name="telemovel" placeholder="Telemóvel", value="{{edit.telemovel}}">
                </div>
                <div class="textfield">
                    <input type="text" name="email" placeholder="Email", value="{{edit.email}}">
                </div>
                <div class="textfield">
                    <button class="btn-login" type="submit">GUARDAR</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>