<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_cliente.css' %}">
    <title>🛠AUTO LOURENÇO🛠</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <div class="btn-voltar">
                <form action="{% url 'url_agenda' %}">
                    <button class="btn-login">VOLTAR</button>
                </form>
            </div>
            <img src="{% static 'add_agenda.svg' %}" class= "left-login-image" alt="Animated login image">
        </div>
        <div class="right-login">
            <div class="card-login">
                <form method="POST">
                    {% csrf_token %}
                <div class="textfield">
                    <input type="date" name="data" placeholder="Data">
                </div>
                <div class="textfield">
                    <input type="time" name="hora" placeholder="Hora">
                </div>
                <div class="textfield">
                    {{agenda_form.matricula}}
                </div>
                <div class="textfield">
                    {{agenda_form.telemovel}}
                </div>
                <div class="textfield">
                    <input type="text" name="servico" placeholder="Serviço">
                </div>
                <div class="textfield">
                    <button class="btn-login" type="submit">ADICIONAR</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>