<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'listaagenda.css' %}">
    <script src="https://kit.fontawesome.com/931c8a45bc.js" crossorigin="anonymous"></script>
    <title>🛠AUTO LOURENÇO🛠</title>
</head>
<body>
    <div class="form-div">
        <form action="{% url 'url_nova_agenda'%}">
            <button type="submit" class="btn-login">+AGENDA</button>
        </form>
        <form action="{% url 'url_home'%}">
            <button class="btn-login">VOLTAR</button>
        </form>
    </div>

    <table>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Matrícula</th>
            <th>Serviço</th>

        </tr>
        {% for agenda in agendas %}
        <tr>
            <td>{{agenda.data}}</td>
            <td>{{agenda.hora}}</td>
            <td>{{agenda.matricula}}</td>
            <td>{{agenda.servico}} <a href="deleteagenda/{{agenda.id}}"><i class="fa-solid fa-trash"></i></a><a href="editagenda/{{agenda.id}}"><i class="fa-solid fa-edit"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>