<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'listafaturas.css' %}">
    <script src="https://kit.fontawesome.com/931c8a45bc.js" crossorigin="anonymous"></script>
    <title>🛠AUTO LOURENÇO🛠</title>
</head>
<body>
    <div class="form-div">
        <form action="{% url 'url_nova_fatura' %}">
            <button type="submit" class="btn-login">+FATURA</button>
        </form>

        <form action="{% url 'url_home'%}">
            <button class="btn-login">VOLTAR</button>
        </form>
    </div>
    <div class="div-input">
        <form method="GET">
            {% csrf_token %}
            <input type="text" name="matricula" placeholder="Matrícula">
            <button class="btn-voltar" type="submit">Procurar</button>
        </form>
    </div>

    <table>
        <tr>
            <th>Descrição</th>
        </tr>
        {% for fatura in filtro %}
        <tr>
            <td>{{fatura.data}} - {{fatura.matricula}}<a href="deletefatura/{{fatura.id}}"><i class="fa-solid fa-trash"></i></a><a href="editfatura/{{fatura.id}}"><i class="fa-solid fa-edit"></i></a><a href="createpdf/{{fatura.id}}"><i class="fa-solid fa-file"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>