<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_cliente.css' %}">
    <title>🛠AUTO LOURENÇO🛠</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <div class="btn-voltar">
                <form action="{% url 'url_servicos' %}">
                    <button class="btn-login">VOLTAR</button>
                </form>
            </div>
            <img src="{% static 'add_service.svg' %}" class= "left-login-image" alt="Animated login image">
        </div>
        <div class="right-login">
            <div class="card-login">
                <form method="POST">
                    {% csrf_token %}
                <div class="textfield">
                    {{servico_form.matricula}}
                </div>
                <div class="textfield">
                    {{servico_form.servico}}
                </div>
                <div class="textfield">
                    <input type="number" name="custo" placeholder="Custo">
                </div>
                <div class="textfield">
                    <button class="btn-login" type="submit">ADICIONAR</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>